<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator">
                    <enabled>false</enabled>
                </decorator>
            </jsonGeneratorDecorator>
            <includeMdc>true</includeMdc>
            <fieldNames>
                <level>severity</level>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | %-37.37logger{36} %magenta(%5line) %-20M | %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
    </springProfile>
</configuration>